[options]
backup_location = C:\Users\username\Desktop\ABOSBackups
database_loc_on = 1
database_loc = C:\Users\username\Documents\databases\aboscust.db
multicore_on = 0
cores = 0
nas = 1
nas_location = X:\share\location
onedrive = 1

[selenium]
headless = 1